<div class="col-lg-3 col-md-3 sidebar">
    <div class="sidebar-content">
        <div class="section-title">
            <p>Profile</p>
        </div>
        <div class="action">
            <p><a href="{% url 'ecommerce:troc-profile' %}" class="action-link">Consulter Votre Compte</a></p>
            <p><a href="{% url 'ecommerce:troc-logout' %}" class="action-link">Se Deconnecter</a></p>
            <p><a href="{% url 'ecommerce:troc-home' %}" class="action-link">Retourner a l'espace Troc</a></p>
        </div>
        <div class="section-title">
            <p>Gerez vos Articles</p>
        </div>
        <div class="action">
            <p><a href="{% url 'ecommerce:troc-ajouter-article' %}" class="action-link">Ajoutez un article</a></p>
            <p><a href="{% url 'ecommerce:troc-gerer-article' %}" class="action-link">Articles en Ventes</a></p>
            <p><a href="{% url 'ecommerce:troc-article-troquer' %}" class="action-link">Articles Vendus</a></p>
            <p><a href="{% url 'ecommerce:troc-article-retirer' %}" class="action-link">Articles Retires de la Vente</a></p>
            <p><a href="{% url 'ecommerce:troc-all-article' %}" class="action-link">Tous les Articles</a></p>
        </div>
        <!--<div class="section-title">-->
            <!--<p>Gerez vos Commandes</p>-->
        <!--</div>-->
        <!--<div class="action">-->
            <!--<p><a href="{% url 'ecommerce:troc-ajouter-article' %}" class="action-link">Commandes en Cours</a></p>-->
            <!--<p><a href="{% url 'ecommerce:troc-gerer-article' %}" class="action-link">Commandes Satisfaites</a></p>-->
            <!--<p><a href="{% url 'ecommerce:troc-article-troquer' %}" class="action-link">Commandes annulées</a></p>-->
            <!--<p><a href="{% url 'ecommerce:troc-article-retirer' %}" class="action-link">Toutes les Commandes</a></p>-->
            <!--<p><a href="{% url 'ecommerce:troc-all-article' %}" class="action-link">Annuler une Commande</a></p>-->
        <!--</div>-->
    </div>
</div>