<!DOCTYPE html>
<html lang="en">
<head> 
    <!-- Titre de la page -->
	<title>{% block title %}e-pounds{% endblock  %}</title>
	{% block fichierCss %}
	<!-- Chargement des fichiers css -->
	{%  include 'layouts/head.html' %}
	{% block add_css %}  {% endblock  %}
	{% endblock %}
    
</head>

<body>
    <div class="super_container">
        {% include 'layouts/header.html' %}
		{% block content %}  {% endblock  %}
		<div class="modal fade" id="search-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	  aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
		  <div class="modal-header text-center">
			<h4 class="modal-title w-100" style="color: #28a745;">Rechercher un Article</h4>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body mx-3">
			  <form class="form-inline" action="{% url 'ecommerce:rechercher-produit' %}">
				  <select class="form-control mb-2 mr-sm-2">
					  <option value="" disabled selected>Selectionner une catégorie</option>
					  {% for cat in categories %}
					  <option value="{{ cat.pk }}">{{ cat.nom_categorie }}</option>
					  {% endfor %}
				  </select>
				  <input type="text" class="form-control mb-2 mr-sm-2" id="product" name="produit">
				  <button type="submit" class="btn btn-primary mb-2">Rechercher</button>
			  </form>
		  </div>
		  <div class="modal-footer d-flex justify-content-center">
		  </div>
		</div>
	  </div>

	</div>
		<footer>
			{% include 'layouts/footer.html' %}
		</footer>
    </div>
    {% block fichierJs %}
		{% include 'layouts/jsImport.html' %}
		{% block addjs %} {% endblock %}
    {% endblock %}
</body>
	
</html>
