{% load static %}
<script src="{% static  'js_/jquery.mobile.custom.min.js' %}"></script>
<script src="{% static  'js_/main.js' %}"></script> <!-- Resource jQuery -->
<script src="{% static  'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static  'styles/bootstrap4/popper.js' %}"></script>
<script src="{% static  'styles/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static  'plugins/Isotope/isotope.pkgd.min.js' %}"></script>
<script src="{% static  'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static  'plugins/easing/easing.js' %}"></script>
<script src="{% static  'js/custom.js' %}"></script>
<script>
    $("#autoComplete").autoComplete({
      //source: aLangage,// source des données de la liste
      minLength: 1, // le nombre de lettres mini à saisir pour afficher la liste
      delay: 100,  // le délai en ms d'affichage de la liste
      source: function(request,response){// source des données de la liste avec gestion du trie
                  nom =  $('#autoComplete').val();
                  $.ajax({
                     type: 'GET',
                     url: '/ecommerce/rechercher-produit-nom',
                     data:{
                        'nom': nom,
                     },
                     success: function(data,textStatus, jqxhr){
                        response(data.client)
                     },
                     error: function(data){
                        console.log(data)
                     }
                  })
               },

      // écoute événement ouverture de la liste
      open : function (evt) { // ajout d'une animation
         var $oList = $(this).autocomplete ("widget");
         $oList.hide().slideDown (350); // en ms

      } ,

      // écoute événement fermture de la liste
      close : function (evt) { // ajout d'une animation
         var $oList = $(this).autocomplete ("widget");
         $oList.show().slideUp (350); // en ms
      }
   }).focus (function (evt) {$(this).autocomplete ("search", "");});// affichage au focus de l'utilisateur
   //}).autocomplete ("search", ""); // affiche la liste à l'ouverture
</script>