{% extends 'layouts/base.html' %}
{% load static %}

{% block add_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/troc_account.css'  %}">
{% endblock %}

{% block addjs %}
    <script>
        $(document).ready(function(){
    //recuperer le formulaire
        $('#id_image_produit').on('change',function(e){
            $('#img-label').text(e.currentTarget.files['0']['name'])
        })
    });
    </script>

{% endblock %}

{% block content %}
<div class="container-fluid" style="margin-top: 8em;">
    <div class="row">
        <div class="col-lg-3 col-md-3 sidebar">
            <div class="sidebar-content">
                <div class="section-title">
                    <p>Profile</p>
                </div>
                <div class="action">
                    <p><a href="{% url 'ecommerce:troc-profile' %}" class="action-link">Consulter Votre Compte</a></p>
                    <p><a href="{% url 'ecommerce:troc-logout' %}" class="action-link">Se Deconnecter</a></p>
                </div>
                <div class="section-title">
                    <p>Gerez vos Artticles</p>
                </div>
                <div class="action">
                    <p><a href="{% url 'ecommerce:troc-ajouter-article' %}" class="action-link">Ajoutez un article</a></p>
                    <p><a href="{% url 'ecommerce:troc-gerer-article' %}" class="action-link">Articles en Ventes</a></p>
                    <p><a href="{% url 'ecommerce:troc-article-troquer' %}" class="action-link">Articles Vendus</a></p>
                    <p><a href="{% url 'ecommerce:troc-article-retirer' %}" class="action-link">Articles Retires de la Vente</a></p>
                    <p><a href="{% url 'ecommerce:troc-all-article' %}" class="action-link">Tous les Articles</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-9 mx-auto" style="margin-top: 5em;">
            <!-- Material form contact -->
            <div class="card">
                <h5 class="card-header info-color white-text text-center py-4">
                    <strong>Nouvel Article</strong>
                </h5>
                <!--Card content-->
                <div class="card-body px-lg-5 pt-0">
                    <!-- Form -->
                    <form style="color: #757575;" enctype="multipart/form-data" method="post" id="articleAddForm">{% csrf_token %}
                        <!-- Title -->
                        <div class="md-form mt-4">
                            <label for="materialContactFormName">Prix de l'aricle</label>
                            {{ form.prix }}
                        </div>
                        <!-- Description -->
                        <div class="md-form mt-4">
                            <label for="materialContactFormMessage">Nom de l'aricle</label>
                             {{ form.nom }}
                        </div>
                        <!-- Image -->
                        <div class="md-form mt-4">
                            <label style="text-align: left;">Image de l'article: <label id="img-label"></label></label>
                            <div class="input-group">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" style="color: green:" id="inputGroupFileAddon01">Upload</span>
                                  </div>
                                  <div class="custom-file form-control" style="margin-left: 5px;">
                                    {{ form.image_produit }}
                                    <label class="custom-file-label">{{ form.image_produit.url }}</label>
                                  </div>
                            </div>
                        </div>
                        <!-- Send button -->
                        <input id="submitInput" class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"
                               type="submit" value="Save"/>
                    </form>
                    <!-- Form -->
                </div>

            </div>
            <!-- Material form contact -->
        </div>
    </div>
</div>
{% endblock  %}