{% extends 'layouts/base.html' %}
{% load static %}

{% block add_css %}
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
{% endblock %}

{% block content %}
	<div style="margin-top: 10em; text-align: center;">
		<h1 style="font-family: 'Orbitron', sans-serif;text-transform: uppercase; color: green;">{{ specification.spécification }}</h1>
	</div>

	<div class="banner">
		<div class="container">
			<div class="row">
				{% for categorie in categories %}
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url({{ categorie.image_categorie.url }});margin-bottom: 3em;">
						<div class="banner_category" style= "opacity: 0.8;">
							<a href="{% url 'ecommerce:categories-produits' categorie.id %}" style="color: #ffffff; font-family: 'Righteous', cursive;">{{ categorie }}</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>


	<!-- Benefit -->
	<div class="row">
		<div class="col text-center">
			<div class="section_title new_arrivals_title">
				<h2>Nos partenaires</h2>
			</div>
		</div>
	</div>
	<div class="benefit">
		<div class="container">
			<div class="row benefit_row">
				{% for partenaire in partenaires %}
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon">
                            <img src="{{ partenaire.logo.url }}" alt="logo de {{ partenaire }}" style="height: 40px;width: 40px">
						</div>
						<div class="benefit_content">
							<h6 style="font-family: 'Righteous', cursive;">{{ partenaire.nom }}</h6>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock  %}
