{% extends 'layouts/base.html' %}
{% load static %}

{% block add_css %}
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="super_container">

	<!-- Slider -->

	<div style="margin-top: 10em; text-align: center;">
		<h1 style="font-family: 'Permanent Marker', cursive;text-transform: uppercase; color: green;">{{ specification.spécification }}</h1>
	</div>

	<!--<div class="main_slider img-fluid"-->
		 <!--style="background-image:url({{ specification.image_illustratif.url }}); margin: auto;" >-->
		<!--<div class="container fill_height">-->
			<!--<div class="row align-items-center fill_height">-->
				<!--<div class="col">-->
					<!--<div class="main_slider_content">-->
						<!--<h3 style="color: white;font-family: 'Lobster', cursive; font-size:30px;-->
							<!--font-weight: 900px;-->
							<!--;">Une monnaie alternative et son économie au service de sa communauté</h3>-->
						<!--<h1 style="color: #ffffff; margin-top: 25px;-->
						<!--font-family: 'Permanent Marker', cursive; font-size: 30px; font-weight: 700">Bienvenue</h1>-->
						<!--<div class="red_button shop_now_button">-->
							<!--<a href="{% url 'vendeurs' %}" style="font-family: 'Kaushan Script', cursive;padding-left:2%;padding-right:2%; font-weight: 900;font-size: 15px;">-->
							<!--Nos valeurs</a>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->

	<!-- New Arrivals -->

	<div class="new_arrivals">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title new_arrivals_title">
						<h2>Produits</h2>
					</div>
				</div>
			</div>
			<!--<div class="row align-items-center">-->
				<!--<div class="col text-center">-->
					<!--<div class="new_arrivals_sorting">-->
						<!--<ul class="arrivals_grid_sorting clearfix button-group filters-button-group">-->
							<!--<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">Tous</li>-->
							<!--<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".women">RAMCO</li>-->
							<!--<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".accessories">CHAMPION</li>-->
							<!--<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".men">SANOL</li>-->
						<!--</ul>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
			<div class="row">
				<div class="col">
					<div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

						{% for produit in produits %}
						<div class="product-item men">
							<div class="product discount product_filter">
								<div class="product_image">
									<img src="{{ produit.image_produit.url }}" alt="">
								</div>
								<div class="product_info">
									<h6 class="product_name"><a href="#"></a>{{ produit.nom }}</a></h6>
									<div class="product_price">
										<p style="color: green;margin-top: -0.5em;">Prix: {{ produit.prix }} epounds</p>
										<p style="color: green;margin-top: -1.5em;">Code article: {{ produit.code_article }}</p>
									</div>
									<p style="color: green;margin-top: -1.5em;">Vendeur: {{ produit.vendeur }}</p>
									<p style="color: green;margin-top: -1.5em;">Téléphone: {{ produit.vendeur.telephone }}</p>
									<p style="color: green;margin-top: -1.5em;">Emplacement: {{ produit.vendeur.emplacement }}</p>
								</div>
							</div>
							
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Benefit -->
	{% endblock  %}