{% extends 'layouts/base.html' %}
{% load static %}

{% block add_css %}
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
 	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="super_container">

	<div style="margin-top: 10em; text-align: center;">
		<h1 style="font-family: 'Orbitron', sans-serif;text-transform: uppercase; color: green;">{{ categorie.nom_categorie }}</h1>
	</div>

	<!-- New Arrivals -->

	<div class="new_arrivals">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title new_arrivals_title">
						<h2>Produits</h2>
					</div>
				</div>
			</div>
			<div class="row" style="margin-bottom: 100px;">
				<div class="col">
					<div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

						{% for produit in produits %}
						<div class="product-item" style="margin-top: auto;">
							<div class="product discount">
								<div class="product_image img-fluid">
									<img class="img-fluid" src="{{ produit.image_produit.url }}" alt="">
								</div>
								<div class="product_info">
									<h6 style="margin-top: 8px;color: black;font-family: 'Permanent Marker', cursive;" class="product_name">{{ produit.nom }}</h6>
									<div class="product_price">
											<p style="font-size:12px;color: green;margin-top: -0.5em;font-family: 'Titillium Web', sans-serif;">Prix: {{ produit.prix }} epounds</p>
											<p style="font-size:12px;color: green;margin-top: -1.5em;font-family: 'Titillium Web', sans-serif;">Code article: {{ produit.code_article }}</p>
									</div>
									<p style="font-size:12px;color: green;margin-top: -1.5em;font-family: 'Titillium Web', sans-serif;">Vendeur: {{ produit.vendeur }}</p>
									<p style="font-size:12px;color: green;margin-top: -1.5em;font-family: 'Titillium Web', sans-serif;">Téléphone: {{ produit.vendeur.telephone }}</p>
									<p style="font-size:12px;color: green;margin-top: -1.5em;font-family: 'Titillium Web', sans-serif;">Emplacement: {{ produit.vendeur.emplacement }}</p>
									<div class="red_button commander_btn">
										<a href="epound://epound-prog.herokuapp.com/commander/?code_produit={{ produit.code_article }}&prix={{ produit.prix }}" style="font-family: 'Permanent Marker', cursive;padding-left:2%;padding-right:2%; font-weight: 900;font-size: 12px;">
											Commander
										</a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Benefit -->
	{% endblock  %}