{% extends 'layouts/base.html' %}
{% load static %}

{% block add_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/troc_account.css'  %}">
{% endblock %}


{% block content %}
<div class="container-fluid" style="margin-top: 10em;">
    <div class="row">
        <div class="col-lg-3 col-md-3 sidebar">
            <div class="sidebar-content">
                <div class="section-title">
                    <p>Profile</p>
                </div>
                <div class="action">
                    <p><a href="#" class="action-link">Consulter Votre Compte</a></p>
                    <p><a href="#" class="action-link">Mettre A Jour Votre Compte</a></p>
                    <p><a href="{% url 'ecommerce:troc-logout' %}" class="action-link">Se Deconnecter</a></p>
                </div>
                <div class="section-title">
                    <p>Gerez vos Artticles</p>
                </div>
                <div class="action">
                    <p><a href="{% url 'ecommerce:troc-ajouter-article' %}" class="action-link">Ajoutez un article</a></p>
                    <p><a href="{% url 'ecommerce:troc-gerer-article' %}" class="action-link">Articles en Ventes</a></p>
                    <p><a href="{% url 'ecommerce:troc-article-troquer' %}" class="action-link">Articles Vendus</a></p>
                    <p><a href="{% url 'ecommerce:troc-article-troquer' %}" class="action-link">Articles Retires de la Vente</a></p>
                    <p><a href="{% url 'ecommerce:troc-all-article' %}" class="action-link">Tous les Articles</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9">
            <div class="row profile-info">
                <img width="200" height="200" class="img-fluid" src="https://media.licdn.com/dms/image/C4E03AQGQihJJrDuRmA/profile-displayphoto-shrink_200_200/0?e=1573084800&v=beta&t=IfulGzcxdO6Xo_cdkQ3rtuxgVrwe_LoxCOj3B4ssmzA"/>
                <div class="user-data">
                    <span> Prenoms et Nom: {{ consommateur.prenoms }} {{ consommateur.nom }}</span>
                    <span> Email: {{ consommateur.email }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}