{% extends 'layouts/base.html' %}
{% load static %}

{% block add_css %}
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
 	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
{% endblock %}

{% block content %}
	<div style="margin-top: 10em; text-align: center;">
		<h1 style="font-family: 'Orbitron', sans-serif;text-transform: uppercase; color: green;">{{ besoin.besoin }}</h1>
	</div>

	<div class="banner">
		<div class="container">
			<div class="row">
				{% for specification in specifications %}
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url({{ specification.image_illustratif.url }});margin-bottom: 3em;">
						<div class="banner_category" style= "opacity: 0.8;">
							{% if specification.besoin_fondamental.besoin == "Habillement" or specification.besoin_fondamental.besoin == "Electronique" or specification.spécification == "Boissons" or specification.spécification == "Jeux Videos et accessoires" %}
							<a href="{% url 'ecommerce:specification-categories' specification.id %}" style="color: #ffffff; font-family: 'Permanent Marker', cursive;">{{ specification }}</a>
							{% else %}
							<a href="{% url 'ecommerce:specification-produits' specification.spécification %}" style="color: #ffffff; font-family: 'Permanent Marker', cursive;">{{ specification }}</a>
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>s

	<!-- Benefit -->
	<div class="row">
		<div class="col text-center">
			<div class="section_title new_arrivals_title">
				<h2 style="font-family: 'Orbitron', sans-serif;">Nos partenaires</h2>
			</div>
		</div>
	</div>

	
{% endblock  %}

		
