{% extends 'layouts/base.html' %}
{% load static %}

{% block add_css %}
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link href="{% static 'css/hover-min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<!-- Slider -->

	<div class="main_slider"
		 style="background-image:url({% static 'images/about.jpg' %}); margin: auto;" >
		<div class="container fill_height">
			<div class="row align-items-center fill_height">
				<div class="col">
					<div class="main_slider_content">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Banner -->

	<div class="row">
		<div class="col text-center">
			<div class="section_title nessw_arrivals_title">
				<h2 style="font-family: 'Permanent Marker', cursive; margin-top: 20px;" >Qui sommes nous ?</h2>
			</div>
		</div>
	</div>

	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about19.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
						<a href="#"></a>
					</div>
				</div>
                <div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about18.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
                <div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about17.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
                <div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about16.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
                <div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about15.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
                <div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about14.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
                <div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about13.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
                <div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about12.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
                <div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about11.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
                <div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about10.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
                <div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about9.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
				<div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about8.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
				<div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about7.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
				<div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about6.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
				<div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about5.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
				<div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about4.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
				<div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about3.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
				<div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about2.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
				<div class="col-md-4  hvr-overline-from-left">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about1.jpg' %});margin-bottom: 2em;background-size: 310px 260px;">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Benefit -->
	<div class="row">
		<div class="col text-center">
			<div class="section_title new_arrivals_title">
				<h2>Nos partenaires</h2>
			</div>
		</div>
	</div>
	<div class="benefit">
		<div class="container">
			<div class="row benefit_row">
				{% for partenaire in partenaires %}
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon">
                            <img src="{{ partenaire.logo.url }}" alt="logo de {{ partenaire }}" style="height: 40px;width: 40px;">
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock  %}


