{% extends 'layouts/base.html' %}
{% load static %}

{% block add_css %}
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
{% endblock %}

{% block content %}
	<!-- Slider -->

	<div class="main_slider"
		 style="background-image:url({% static 'images/logo.jpg' %}); margin: auto;" >
		<div class="container fill_height">
			<div class="row align-items-center fill_height">
				<div class="col">
					<div class="main_slider_content">
						<!--<h3 style="color: #03a5ea;font-family: 'Permanent Marker', cursive; font-size:30px;-->
							<!--font-weight: 900px;-->
							<!--text-align: center;">Une monnaie alternative et son économie au service de sa communauté</h3>-->
						<!--<h1 style="color: #ffffff; margin-top: 25px;-->
						<!--font-family: 'Permanent Marker', cursive; font-size: 30px; font-weight: 700">Bienvenue</h1>-->
						<div class="red_button shop_now_button" style="margin-top: 300px;">
							<a href="{% url 'vendeurs' %}" style="font-family: 'Permanent Marker', cursive;padding-left:2%;padding-right:2%; font-weight: 900;font-size: 15px;">
							Nos valeurs</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Banner -->

	<div class="row">
		<div class="col text-center">
			<div class="section_title nessw_arrivals_title">
				<h2 style="font-family: 'Permanent Marker', cursive; margin-top: 20px;" >Qui sommes nous ?</h2>
			</div>
		</div>
	</div>

	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about8.jpg' %});margin-bottom: 3em;">
					</div>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about4.jpg' %});margin-bottom: 3em;">
					</div>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about5.jpg' %});margin-bottom: 3em;">
					</div>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about6.jpg' %});margin-bottom: 3em;">
					</div>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about7.jpg' %});margin-bottom: 3em;">
					</div>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about11.jpg' %});margin-bottom: 3em;">
					</div>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about3.jpg' %});margin-bottom: 3em;">
					</div>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about1.jpg' %});margin-bottom: 3em;">
					</div>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about9.jpg' %});margin-bottom: 3em;">
					</div>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about2.jpg' %});margin-bottom: 3em;">
					</div>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url({% static 'images/about10.jpg' %});margin-bottom: 3em;">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Benefit -->
	<div class="row">
		<div class="col text-center">
			<div class="section_title new_arrivals_title">
				<h2>Nos partenaires</h2>
			</div>
		</div>
	</div>
	<div class="benefit">
		<div class="container">
			<div class="row benefit_row">
				{% for partenaire in partenaires %}
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon">
                            <img src="{{ partenaire.logo.url }}" alt="logo de {{ partenaire }}" style="height: 40px;width: 40px;">
						</div>
						<div class="benefit_content">
							<h6>{{ partenaire.nom }}</h6>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock  %}


