{% extends 'layouts/base.html' %}
{% load static %}

{% block add_css %}
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link href="{% static 'css/hover-min.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'plugins/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/contact_styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/contact_responsive.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
{% endblock %}

{% block addjs %}
	<script src="{% static 'js/send_mail.js' %}"></script>
{% endblock %}

{% block content %}
	<!-- Slider -->
<div class="super_container">
	<div class="main_slider"
			 style="background-image:url({% static 'images/about.jpg' %}); margin: auto;">
			<div class="container fill_height">
				<div class="row align-items-center fill_height">
					<div class="col">
						<div class="main_slider_content">
						</div>
					</div>
				</div>
			</div>
		</div>
	<div class="container contact_container">

		<!-- Banner -->
		<div class="row">
			<div class="col text-center">
				<div class="section_title nessw_arrivals_title">
					<h2 style="font-family: 'Permanent Marker', cursive; margin-top: 20px;" >Qu’est-ce que le réseau epound ? </h2>
				</div>
			</div>
		</div>
		<div class="banner">
			<div class="container">
				<div class="row">
					<p style="font-family: 'Ubuntu', sans-serif; font-size: 16px; text-align: justify">
					Le réseau epound est un réseau d’acteurs réunis autour d’une charte collective qui défend l’idéal d’une
					économie réelle et non-spéculative offrant des produits et des services de qualité pour le développement
					durable. Un réseau qui prône des liens de solidarité et de fraternité, de citoyenneté, de collaboration, et de
					bienveillance dans le monde des affaires. Le réseau epound définit par cette charte un ensemble de valeurs
					constituant le cadre éthique et morale dans lequel s'inscrivent les actions de mise en place, de
					fonctionnement, de promotion et de pérennisation de sa monnaie complémentaire électronique dénommée
					epound gérée par un progiciel dénommé epound Prog.
					La monnaie complémentaire électronique epound, par son fonctionnement au quotidien, se veut fédérateur
					des utilisateurs, prestataires et partenaires autour d'un socle de valeurs communes. Non destinée à l'épargne,
					elle veut par sa circulation accélérée participer au renforcement des liens relationnels et sociaux, dont la
						qualité dépasse naturellement le cadre mercantile des affaires.
					</p>
				</div>
			</div>
		</div>
		<!-- Banner -->
		<div class="row">
			<div class="col text-center">
				<div class="section_title nessw_arrivals_title">
					<h2 style="font-family: 'Permanent Marker', cursive; margin-top: 20px;" >qui sont les acteurs du réseau « epound » :</h2>
				</div>
			</div>
		</div>
		<div class="banner">
			<div class="container">
				<div class="row">
					<p>
					<ul class="list-group">
						<li style="text-align: justify; margin-bottom: 20px; margin-left: 10px;">
						<h4>La epound CORPORATION SARL :</h4>
							<p style="font-family: 'Ubuntu', sans-serif; font-size: 16px; text-align: justify">
							Elle joue le rôle d’administrateur des comptes Consommateurs, des comptes Entreprises du réseau, et des
							comptes eTrader du réseau. Elle est responsable du dispositif informatique (sa sécurité, la base de donnée, sa
							fiabilité…). Elle est la responsable en dernier ressort des conversions et reconversions en unités epound. Elle
							est l’administratrice du réseau epound et de toute la plateforme connexe.
							</p>
						</li>
						<li style="text-align: justify; margin-bottom: 20px; margin-left: 10px;">
							<h4>Les « eTrader » :</h4>
							<p style="font-family: 'Ubuntu', sans-serif; font-size: 16px; text-align: justify">
							Ils permettent une meilleure proximité auprès des Consommateurs du service de conversion et de
							reconversion des unités epounds. Ce sont des personnes physiques ou des personnes morales sous contrat
							avec la epound CORPORATION SARL et demeurant sous son contrôle. Le « eTrader » obtient son adhésion
							au réseau et son agrément auprès de la epound CORPORATION SARL, après signature d’un contrat
							d’abonnement annuel renouvelable. Leur adhésion au réseau est conditionnée au versement d’une somme
							déterminée collectivement par les associés de la epound CORPORATION SARL. Ces frais sont susceptibles
							d’être changés aux grés des associés ; mais pas durant un contrat d’abonnement. Ces frais constituent les frais
							d’exploitation du epound Prog pour une durée de douze (12) mois. A la fin des douze (12) mois d’usage le
							compte sera désactivé. Le numéro de membre lui est conservé pour une durée de 12 mois après
							désactivation. Les eTraders bénéficient d’une majoration de 10% à la conversion qu’ils récupèrent à la vente
							aux consommateurs finaux.
							</p>
						</li>
						<li style="text-align: justify; margin-bottom: 20px; margin-left: 10px;">
							<h4>Les Consommateurs :</h4>
							<p style="font-family: 'Ubuntu', sans-serif; font-size: 16px; text-align: justify">
							Ils sont les acheteurs d’unités epounds auprès des « eTraders » ou de la epound CORPORATION SARL. Ils
							utilisent ses unités pour consommer des articles exclusivement auprès des prestataires et entreprises
							commerciales du réseau. L’adhésion au réseau au profil de consommateur s’élève à une somme déterminée
							collectivement par les associés de la epound CORPORATION SARL pour toute personne physique. Ces frais
							sont susceptibles d’être changés aux grés des associés ; mais pas durant un contrat d’abonnement. Ces frais
							constituent les frais d’exploitation du « epound Prog » pour une durée de douze (12) mois ou un (1) an
							renouvelable. A la fin des douze (12) mois d’usage le compte sera désactivé. Le numéro de membre lui est
							conservé pour une durée de 12 mois même après désactivation. Le Consommateur bénéficie de 25% de
							bonification à la conversion du FCFA en epound. Les Consommateurs auront la possibilité de se transférer les
							unités epounds entre eux sans frais de conversion. Les unités epounds peuvent être reconverties en monnaie
							nationale auprès d’un eTrader ou de la epound CORPORATION SARL avec une perte de 28% de la valeur.
							Il y’a imposition d’une fonte de 2% mensuellement sur les comptes Consommateurs, à fin d’inciter à la
							consommation plutôt qu’à la thésaurisation. Le plafond de consommation par mois d’un compte
							consommateur est de 300 000 epounds. Le plafond par jour se limite à 100 000 epounds.
							</p>
						</li>
						<li style="text-align: justify; margin-bottom: 20px; margin-left: 10px;">
							<h4>Les Entreprises commerciales :</h4>
							<p style="font-family: 'Ubuntu', sans-serif; font-size: 16px; text-align: justify">
							Ce sont les vendeurs ou prestataires offreurs de biens et de services sur le réseau ; contre les unités
							epounds des Consommateurs. A leur tour elles échangeront ses unités contre monnaies nationales auprès de
							la epound CORPORATION SARL exclusivement. Elles obtiennent leur franchise et leurs comptes Entreprises
							auprès de la « epound CORPORATION SARL ».<br/> Elles ont deux offres de contrat :
							Contrat de collaboration :
							Adhésion définitive moyennant une somme déterminée collectivement par les associés de la epound
							CORPORATION SARL ; payable dans un délai de six(6) mois à compter du jour de signature de
							contrat.
							Chaque reconversion s’opèrera sur la base suivante :
							prélèvement de 5% du montant sujet de la reconversion ;
							reconversion de 80% en monnaie locale, payables par chèques bancaires ou en espèces, ou
							par tout autre moyen de transfert d’argent ;
							transfert de 15% sur compte consommateur, conservé en unités epounds ;
							possibilité de bénéficier de prêts en monnaie epounds remboursables sans taux d’intérêt, auprès de la
							« epound CORPORATION SARL », après soumission d’un dossier ;
							Possibilité d’obtenir des facilités de crédit auprès des partenaires financiers du réseau.
							Contrat de partenariat :
							Abonnement annuel renouvelable d’une somme déterminée collectivement par les associés de la
							epound CORPORATION SARL; payable dans un moratoire de six(6) mois à compter du jour de
							signature de contrat.
							Reconversion effectuée chaque deux (2) semaines d’intervalle de 50% du montant en epounds
							détenu sur le compte, donc du solde en cours.
							Possibilité d’obtenir des facilités de crédit auprès des partenaires financiers du réseau.
							 Elles auront également la possibilité d’offrir les services d’un « eTrader ». Il leur suffira simplement dans ce
							dernier cas, d’honorer les conditions d’obtention du terminal « e-T». Toutefois tout vendeur reste libre
							d’offrir ses prestations ordinaires en monnaie locale aux clients qui ne font pas partie du réseau.
							Les prix de ventes hors réseau ne doivent point différés de ceux offerts aux consommateurs du réseau. En cas
							de fluctuation seule une majoration de l’ordre de 20% est tolérable.
							</p>
						</li>
						<li style="text-align: justify; margin-bottom: 20px; margin-left: 10px;">
							<h4>Les partenaires :</h4>
							<p style="font-family: 'Ubuntu', sans-serif; font-size: 16px; text-align: justify">
							Il s’agit d’opérateurs socioéconomiques ou d’opérateurs économiques, qui par leur collaboration accorde un
							soutient de tout genre (offres spéciales, rabais, compromis, assistance matérielle technique ou financière…),
							au bénéfice et au développement du réseau epound.
							6) Les eMarkets :
							Ce sont les points de vente installés par la « epound CORPORATION SARL » elle-même sous forme de mini
							marché. Ils ont pour objectif non pas de concurrencer les distributeurs du réseau, mais d’être une référence
							pour les prix des articles et combler les insuffisances d’offre des entreprises du réseau. Elles vendent
							exclusivement en epound.
							</p>
						</li>
						<li style="text-align: justify; margin-bottom: 20px; margin-left: 10px;">
							<h4>Les eShops :</h4>
							<p style="font-family: 'Ubuntu', sans-serif; font-size: 16px; text-align: justify">
							Il s’agit des entreprises du réseau qui par franchise acceptent le epound comme monnaie de paiement. Elles
							demeurent dans leur propre installation sont libres de vendre en tout autre monnaie que le epound.
							</p>
						</li>
						<h4>Les tickets restaurants epound :</h4>
							<p style="font-family: 'Ubuntu', sans-serif; font-size: 16px; text-align: justify">
								Il s’agit de tickets offerts honorifiquement en gratification sous forme de récompense, aux membres du réseau
								epound pour différents motifs variables liés aux objectifs généraux du réseau, ou aux différentes campagnes
								commerciales de la epound CORP. Ils existent sous quatre types de formats comme suit (les images et les
								valeurs respectives associées sont disponibles en Annexe) : le SILVER, le BASIC ; le PREMIUM ; le GOLDEN,
								le PLATINIUM.
							</p>
					</ul>
					<p style="font-family: 'Ubuntu', sans-serif; font-size: 16px; text-align: justify">
					Contacts utiles :
					Se rendre chez un eTrader ou au siège de la epound CORPORATION sise Adidogomé Franciscain, face à
					Supermarché LE CHAMPION. Contactez le 70 01 17 77 ou le 96 16 96 10 pour toute information de
					localisation ; ou laissez vos commentaires sur :
					www.epoundtogo.com ; info@epoundtogo.com ; contact@epoundtogo.com
					Fcbk : Epound Community
					WhatsApp : +22870011777 ou +22896169610
					</p>
				</div>
			</div>
		</div>
		<!-- contact -->
		<div class="row">
			<div class="col text-center">
				<div class="section_title new_arrivals_title">
					<h2>Contact</h2>
				</div>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-lg-6 contact_col">
				<div class="contact_contents">
					<h1>Contactez-nous</h1>
					<p>Il y'a plusieurs moyens de nous contacter.Vous pouvez nous envoyez un mail ou nous appellez directement.</p>
					<div>
						<p>(228) 96 16 96 10 / 70 01 17 77</p>
						<p><a href="mailto:epoundcorporationtg@gmail.com">epoundcorporationtg@gmail.com</a></p>
					</div>
					<div>
						<p>
							Le siège de la epound CORPORATION est situé à Adidogomé Franciscain, face à
							Supermarché LE CHAMPION.
						</p>
						<p>
							<a href="https://goo.gl/maps/AzhiBH8Pmgt8rRP16">Voir sur google maps</a>
						</p>
					</div>
					<div>
						<p>Heures d'ouvertures: 8h00-18h00 Lundi-Vendredi</p>
						<p>Dimanche: Fermé</p>
					</div>
				</div>
				<!-- Follow Us -->
				<div class="follow_us_contents">
					<h1>Suivez-nous sur</h1>
					<ul class="social d-flex flex-row">
						<li><a href="https://www.facebook.com/epoundtogo/" style="background-color: #3a61c9"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="https://twitter.com/EpoundC" style="background-color: #41a1f6"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="https://plus.google.com/u/1/" style="background-color: #fb4343"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li><a href="https://www.instagram.com/explore/locations/349184102562306/epound-corporation-togo/" style="background-color: #8f6247"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>

			</div>
			<div class="col-lg-6 get_in_touch_col">
				<div class="get_in_touch_contents">
					<h2>Envoyer-nous un email</h2>
					<p style="margin-top: 1em;">Remplissez les informations ci-dessous pour vos inquiétudes</p>
					<form method="POST" action="{% url 'contact' %}" id="mail_form">
						{% csrf_token %}
						<div>
							<input id="input_name" class="form_input input_name input_ph" type="text" name="name" placeholder="Nom" required="required" data-error="Le nom est requis.">
							<input id="input_email" class="form_input input_email input_ph" type="email" name="email" placeholder="Email" required="required" data-error="L'email est requis.">
							<textarea id="input_message" class="input_ph input_message" name="message"  placeholder="Message" rows="3" required data-error="Veuillez, écrire votre méssage."></textarea>
						</div>
						<div>
							<button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">Envoyer votre message</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- Benefit -->
		<div class="row">
			<div class="col text-center">
				<div class="section_title new_arrivals_title">
					<h2>Nos partenaires</h2>
				</div>
			</div>
		</div>
		<div class="benefit">
			<div class="container">
				<div class="row benefit_row">
					{% for partenaire in partenaires %}
					<div class="col-lg-3 benefit_col">
						<div class="benefit_item d-flex flex-row align-items-center">
							<div class="benefit_icon">
								<img src="{{ partenaire.logo.url }}" alt="logo de {{ partenaire }}" style="height: 40px;width: 40px;">
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock  %}


