{% extends 'layouts/base.html' %}
{% load static %}

{% block add_css %}
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">


{% endblock %}

{% block content %}
	<!-- Slider -->
	<div class="main_slider" style="background-image:url({% static 'images/vendeurs.jpeg' %}); margin: auto; background-size: cover;">
		<div class="container fill_height">
			<div class="row align-items-center fill_height">
				<div class="col">
					<div class="main_slider_content">s
						<div class="red_button shop_now_button">
							<a href="{% url 'vendeurs' %}" style="font-family: 'Permanent Marker', cursive;padding-left:2%;padding-right:2%; font-weight: 900;font-size: 15px;">
							Nos valeurs</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="new_arrivals">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title new_arrivals_title">
						<h2 style="font-family: 'Orbitron', sans-serif;">Entreprises Commerciales</h2>
					</div>
				</div>
			</div>
			<div class="row align-items-center">
				<div class="col text-center">
					<div class="new_arrivals_sorting">
						<ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
							<!--<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">Tous</li>-->
							{% for entreprise in entreprises %}
							<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".{{ entreprise.slug }}" style="text-transform: uppercase;font-family: 'Righteous', cursive;">
								{{ entreprise.nom }}
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="row"">
				<div class="col">
					<div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

						{% for entreprise in entreprises %}
							{% if entreprise.banniere_principal %}
								<div class="product-item {{ entreprise.slug }}">
									<div class="product discount product_filter">
										<div class="product_image">
											<img src="{{ entreprise.banniere_principal.url }}" alt="">
										</div>
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: 5px;">Tel: {{ entreprise.telephone }}</p>
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: -18px;">siège: {{ entreprise.emplacement }}</p>
										{% if entreprise.localisation is not None %}
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: -18px;"><a href="{{entreprise.localisation}}" target="_blank">Voir sur google maps</a></p>
										{% endif %}
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: -18px;">{{ entreprise.email }}</p>
									</div>
								</div>
							{% endif %}
							{% if entreprise.banniere_secondaire %}
								<div class="product-item {{ entreprise.slug }}">
									<div class="product discount product_filter">
										<div class="product_image">
											<img src="{{ entreprise.banniere_secondaire.url }}" alt="">
										</div>
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: 5px;">Tel: {{ entreprise.telephone }}</p>
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: -18px;">siège: {{ entreprise.emplacement }}</p>
										{% if entreprise.localisation is not None %}
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: -18px;"><a href="{{entreprise.localisation}}" target="_blank">Voir sur google maps</a></p>
										{% endif %}
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: -18px;">{{ entreprise.email }}</p>
									</div>
								</div>
							{% endif %}
							{% if entreprise.banniere_trois %}
								<div class="product-item {{ entreprise.slug }}">
									<div class="product discount product_filter">
										<div class="product_image">
											<img src="{{ entreprise.banniere_trois.url }}" alt="">
										</div>
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: 5px;">Tel: {{ entreprise.telephone }}</p>
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: -18px;">siège: {{ entreprise.emplacement }}</p>
										{% if entreprise.localisation is not None %}
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: -18px;"><a href="{{entreprise.localisation}}" target="_blank">Voir sur google maps</a></p>
										{% endif %}
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: -18px;">{{ entreprise.email }}</p>
									</div>
								</div>
							{% endif %}
							{% if entreprise.banniere_quatre %}
								<div class="product-item {{ entreprise.slug }}">
									<div class="product discount product_filter">
										<div class="product_image">
											<img src="{{ entreprise.banniere_quatre.url }}" alt="">
										</div>
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: 5px;">Tel: {{ entreprise.telephone }}</p>
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: -18px;">siège: {{ entreprise.emplacement }}</p>
										{% if entreprise.localisation is not None %}
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: -18px;"><a href="{{entreprise.localisation}}" target="_blank">Voir sur google maps</a></p>
										{% endif %}
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: -18px;">{{ entreprise.email }}</p>
									</div>
								</div>
							{% endif %}
							{% if entreprise.banniere_cinq %}
								<div class="product-item {{ entreprise.slug }}">
									<div class="product discount product_filter">
										<div class="product_image">
											<img src="{{ entreprise.banniere_cinq.url }}" alt="">
										</div>
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: 5px;">Tel: {{ entreprise.telephone }}</p>
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: -18px;">siège: {{ entreprise.emplacement }}</p>
										{% if entreprise.localisation is not None %}
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: -18px;"><a href="{{entreprise.localisation}}" target="_blank">Voir sur google maps</a></p>
										{% endif %}
										<p style="font-family: 'Ubuntu', sans-serif;color: green;text-align: center;margin-top: -18px;">{{ entreprise.email }}</p>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Benefit -->
	<div class="row">
		<div class="col text-center">
			<div class="section_title new_arrivals_title">
				<h2 style="font-family: 'Orbitron', sans-serif;">Nos partenaires</h2>
			</div>
		</div>
	</div>
	<div class="benefit">
		<div class="container">
			<div class="row benefit_row">
				{% for partenaire in partenaires %}
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon">
                            <img src="{{ partenaire.logo.url }}" alt="logo de {{ partenaire }}" style="height: 40px;width: 40px;">
						</div>
						<div class="benefit_content">
							<h6 style="font-family: 'Righteous', cursive;">{{ partenaire.nom }}</h6>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock  %}