{% extends 'layouts/base.html' %}
{% load static %}

{% block add_css %}
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
 	<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

{% endblock %}

{% block content %}
	<!-- Slider -->

	<div class="main_slider"
		 style="background-image:url({% static 'images/slider_principale.jpg' %}); margin: auto;" >
		<div class="container fill_height">
			<div class="row align-items-center fill_height">
				<div class="col">
					<div class="main_slider_content">
						<h3 style="color: #03a5ea;font-family: 'Permanent Marker', cursive; font-size:30px;
							font-weight: 900px;
							text-align: center;">Une monnaie alternative et son économie au service de sa communauté</h3>
						<h1 style="color: #ffffff; margin-top: 25px;
						font-family: 'Permanent Marker', cursive; font-size: 30px; font-weight: 700">Bienvenue</h1>
						<div class="red_button shop_now_button">
							<a href="{% url 'vendeurs' %}" style="font-family: 'Permanent Marker', cursive;padding-left:2%;padding-right:2%; font-weight: 900;font-size: 15px;">
								Nos valeurs
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Banner -->
	<div class="row">
		<div class="col text-center">
			<div class="section_title nessw_arrivals_title">
				<h2 style="font-family: 'Orbitron', sans-serif; margin-top: 20px;" >Exprimez votre besoin d'achat</h2>
			</div>
		</div>
	</div>

	<div class="banner">
		<div class="container">
			<div class="row">
				{% for besoin in besoins %}
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url({{ besoin.image_illustratif.url }});margin-bottom: 3em;">
						<div class="banner_category">
							<a style="font-family: 'Permanent Marker', cursive;" href="{% url 'ecommerce:besoin-specification' besoin.besoin %}" >{{ besoin.besoin }}</a>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- Nouveaux Poeduits -->
	<div class="best_sellers">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="section_title new_arrivals_title">
						<h2 style="font-family: 'Orbitron', sans-serif;">Nouveaux produits</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="product_slider_container">
						<div class="owl-carousel owl-theme product_slider">
								{% for produit in produits %}
								<div class="owl-item product_slider_item">
										<div class="product-item">
												<div class="product discount">
													<div class="product_image img-fluid">
														<img class="img-fluid" src="{{ produit.image_produit.url }}" alt="">
													</div>
													<div class="product_info">
														<h6 style="margin-top: 8px;color: black;font-family: 'Permanent Marker', cursive;" class="product_name">{{ produit.nom }}</h6>
														<div class="product_price">
																<p style="font-size:12px;color: green;margin-top: -0.5em;font-family: 'Titillium Web', sans-serif;">Prix: {{ produit.prix }} epounds</p>
																<p style="font-size:12px;color: green;margin-top: -1.5em;font-family: 'Titillium Web', sans-serif;">Code article: {{ produit.code_article }}</p>
														</div>
														<p style="font-size:12px;color: green;margin-top: -1.5em;font-family: 'Titillium Web', sans-serif;">Vendeur: {{ produit.vendeur }}</p>
														<p style="font-size:12px;color: green;margin-top: -1.5em;font-family: 'Titillium Web', sans-serif;">Téléphone: {{ produit.vendeur.telephone }}</p>
														<p style="font-size:12px;color: green;margin-top: -1.5em;font-family: 'Titillium Web', sans-serif;">Emplacement: {{ produit.vendeur.emplacement }}</p>
														<div class="red_button commander_btn">
															<a href="epound://epound-prog.herokuapp.com/commander/?code_produit={{ produit.code_article }}&prix={{ produit.prix }}" style="font-family: 'Permanent Marker', cursive;padding-left:2%;padding-right:2%; font-weight: 900;font-size: 12px;">
																Commander
															</a>
														</div>
													</div>
												</div>
											</div>
								</div>
								{% endfor %}
						</div>

						<!-- Slider Navigation -->

						<div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
							<i class="fa fa-chevron-left" aria-hidden="true"></i>
						</div>
						<div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Benefit -->
	<div class="row">
		<div class="col text-center">
			<div class="section_title new_arrivals_title">
				<h2 style="font-family: 'Orbitron', sans-serif;">Nos partenaires</h2>
			</div>
		</div>
	</div>
	<div class="benefit">
		<div class="container">
			<div class="row benefit_row">
				{% for partenaire in partenaires %}
				<div class="col-lg-3 benefit_col">
					<div class="benefit_item d-flex flex-row align-items-center">
						<div class="benefit_icon">
                            <img src="{{ partenaire.logo.url }}" alt="logo de {{ partenaire }}" style="height: 40px;width: 40px">
						</div>
						<div class="benefit_content">
							<h6>{{ partenaire.nom }}</h6>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
{% endblock  %}

		
