{% extends 'layouts/base.html' %}
{% load static %}
{% block add_css %}
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
{% endblock %}

{% block content %}
<body style="margin-right: 70px;margin-left: 70px;font-family: 'Lobster', cursive;">
    <h2 style="margin-top: 200px; text-align: center;"> Politique de confidentialité</h2><br>
    <div style="font-size: 20px;">
        Cette politique de confidentialité concerne votre utilisation de l’Application « epound»,
        créé par la epound CORPORATION. Cette Application est une application permettant d’effectuer
        des opérations avec une monnaie électronique nommée epound.
    </div>
    <br>
    <h3>Quelles  informations l’Application obtient-elle et comment sont-elles utilisées ?</h3><br>
    <ul>
        <li>
             <h4>Les informations données par l’utilisateur.</h4>
            <div style="font-size: 18px;">
                L’Application n’obtient aucune donnée au téléchargement de l’application.
                Après téléchargement vous aurez à entrer des informations fictives pour constituer votre
                profil virtuel ; que vous pourrez modifier aux grés.
                Lorsque vous vous enregistrez et utilisez l’Application, vous donnez généralement votre nom
                , votre adresse mail, votre sexe, votre profession et d’autres informations d’enregistrement.
                Il se peut que nous utilisions les données que vous nous avez données pour vous contacter au besoin.
        </li>
            </div>
        <li>
            <h4>Les informations collectées automatiquement.</h4>
            <div style="font-size: 18px;">
                L’application peut collecter certaines données automatiquement comme le type de mobile que
                vous utilisez, ou l’indicatif du pays d’origine du numéro de téléphone que vous aurez fourni à l’enregistrment.
            </div>
        </li>
        <li>
            <h4>Est-ce-que l’Application collecte des données précises sur la localisation en temps réel de l’appareil ?</h4>
            <div style="font-size: 18px;">
                Cette Application ne collecte pas les données précises sur la localisation géographique de l’appareil. Mais dans ses
                versions futures il se pourrait qu’elle recueille des informations sur votre situation géographique.
            </div>

        </li>
        <li>
            <h4>Est-ce-qu’un tiers peut voir ou avoir accès à ces données obtenues par l’Application ?</h4>
            <div style="font-size: 18px;">
                Seules les données agréées, et anonymes sont transmises périodiquement à des services
                externes pour nous aider à améliorer l’Application et nos services. Nous  ne communiquerons
                vos informations à des tiers uniquement par les moyens décrits dans ce règlement.
            </div>
            <h4>Nous pouvons divulguer les données fournies par l’utilisateur, et les informations collectées automatiquement :</h4>
            <ul>
                <li>
                    comme exigé par la loi, afin de se conformer à une assignation, ou toute autre procédure légale ;
                </li>
                <li>
                    lorsque nous pensons en toute bonne foi que la divulgation de vos informations est nécessaire
                    à la protection de vos droits, de votre sécurité  ou de celles d’autres utilisateurs,
                    lors d’une enquête sur la fraude, ou pour répondre à une requête gouvernementale ou fiscale ;
                </li>
                <li>
                    avec nos fournisseurs de confiance, qui travaillent en notre nom, n’ont pas un usage indépendant
                    de ces données, et qui ont accepté d’adhérer aux règles de cette déclaration de confidentialité ;
                </li>
            </ul>
        </li>
        <li>
            <h4>Quelles sont mes possibilités pour me désabonner ?</h4>
            <ul>
                <li>
                    Vous pouvez facilement arrêter toute collecte d’information par l’Application en la désinstallant.
                </li>
                <li>
                    Vous pouvez utiliser le processus standard de désinstallation à partir de votre téléphone ou à partir de Google Play store.
                </li>
                <li>
                    Vous pouvez aussi demander à vous désabonner par e-mail adressé à epoundcorporationtg@gmail.com.
                </li>
            </ul>

        </li>
        <li>
            <h4>Politique de rétention des Données, et gestion de celles-ci</h4>
            <div style="font-size: 18px;">
                Nous garderons les données-utilisateur aussi longtemps que vous utilisez l’Application,
                et pour un temps raisonnable par la suite. Nous garderons les informations collectées pendant
                24 mois et pouvons les conserver par la suite. Toutefois certaines des données sont retenues
                directement dans le téléphone comme………………………………
                Si vous désirez que nous supprimions les informations que vous nous avez communiquées via
                l’Application, contactez-nous à epoundcorporationtg@gmail.com.
                Nous le ferons dans un laps de temps raisonnable. Notez cependant que toute
                ou partie des données fournies par l’utilisateur peuvent être nécessaires au bon fonctionnement de l’Application.
            </div>
        </li>
        <li>
            <h4>Enfants</h4>
            <div style="font-size: 18px;">
                Nous n’utilisons pas l’Application pour solliciter des données des enfants
                de moins de 13 ans. Si le parent (le tuteur légal) réalise que son enfant
                nous a communiqué des données sans son consentement, il peut nous contacter
                à epoundcorporationtg@gmail.com. Nous supprimerons ces données dans un laps de temps raisonnable.
            </div>
        </li>
        <li>
            <h4>Sécurité</h4>
            <div style="font-size: 18px;">
                Nous sommes concernés par la sauvegarde de la confidentialité de vos informations.
                Nous fournissons et maintenons par tous les moyens physiques, électroniques et juridiques la protection
                de  ces informations. Par exemple, nous limitons l’accès à ces informations uniquement au personnel autorisé,
                qui a besoin de ces informations pour développer ou améliorer notre Application. Prenez note cependant,
                que malgré tous nos efforts pour fournir une sécurité raisonnable à ces informations, aucun système ne peut
                se prévenir d’éventuelles brèches dans la sécurité.
            </div>
        </li>
        <li>
            <h4>Changements</h4>
            <div style="font-size: 18px;">
                Cette Politique de Confidentialité peut être amenée à évoluer de temps en temps,
                pour quelque raison  que ce soit. Nous vous informerons alors de toute modification
                de celle-ci en publiant la nouvelle Politique de Confidentialité sur la page www.epound.togo.com ;
                et en vous informant via l’application mobile. Vous êtes avisé de consulter régulièrement cette
                Politique de Confidentialité, car l’utilisation continue signifie un accord avec tout changement.
            </div>
        </li>
        <li>
            <h4>Votre consentement</h4>
            <div style="font-size: 18px;">
                En utilisant l’Application, vous consentez à notre traitement de vos données,
                ainsi qu’expliqué dans cette Politique de Confidentialité. Traitement signifie
                utilisation de ‘cookies’ sur ordinateur,  incluant la possibilité de collecter,
                stocker, supprimer, combiner et divulguer les données, sur toute activité autorisée au TOGO. Si vous résidez
                hors du TOGO, vos données seront transférées, traitées et stockées dans les normes de confidentialités du TOGO.
            </div>
        </li>
        <li>
            <h4>Contactez-nous</h4>
            <div style="font-size: 18px;">
                Si vous avez des questions concernant la confidentialité, en utilisant l’Application,
                ou concernant nos pratiques, envoyez-nous un mail via epoundcorporationtg@gmail.com.;
                ou nous contacter sur le 0022870071777 (whatssap) ou le 0022896169610 ; ou sur https://m.facebook.com/epoundtogo.
            </div>
        </li>

    </ul>
</body>
{% endblock %}